<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FYClipImage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>62C0F67B1D4B46B300B3C16A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62C0F6941D4B46B300B3C16A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62C0F69F1D4B46B400B3C16A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
